<div class="bg-color-results">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="col-md-12">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target="#myNavbar" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <% # =image_tag("ozer-logo.png", :style => "width: 140px; margin-top: -16px;", class: "img-responsive") %>
            <div class="white">Express Loan Rates</div>
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="/">Home</a>
            </li>
            <% # %li %>
            <% #   %a{:href => "/about"} About %>
            <li>
              <a href="/contact">Contact</a>
            </li>
            <li>
              <a href="tel:(516)725-5312">(516) 725-5312</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
<br/>
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>-contact">
    <button aria-label="Close" class="close" data-dismiss="alert" type="button"></button>
    <span aria-hidden="true"></span>
    <%= value.html_safe %>
  </div>
<% end %>
<section class="section-padding" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="ser-title">SEE YOUR RATES!</h2>
        <hr class="botm-line"/>
      </div>
      <div class="col-md-4 col-sm-4">
        <h3></h3>
        <div class="space"></div>
        <p>
          Fill in the form and one of our experts will help find you the best rate for your business loan.
        </p>
      </div>
      <div class="col-md-8 col-sm-8 marb20">
        <div class="contact-info">
          <div style="height:40px;"></div>
            <div class="assessment-container container">
              <div class="row">
                  <div class="col-md-6 form-box">
                      <form role="form" method="post" class="registration-form" action="request_info" controller="provider">
                        <fieldset>
                          <input name="help_form" type="hidden" value="true">
                          <input name="form_version" type="hidden" value="B">
                          <div class="form-top">
                              <div class="form-top-left">
                                  <h3>First, let's get basic information</h3>
                                  <p>Let us know who our experts will be speaking to.</p>
                              </div>
                          </div>
                          <div class="form-bottom">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Full Name" name="loan_lead[name]">
                            </div>
                            <div class="form-group">
                                <input 
                                  type="text" 
                                  pattern="\d{3}[\-]?\d{3}[\-]?\d{4}" 
                                  class="form-control" 
                                  placeholder="Phone Number (xxx-xxx-xxxx)" 
                                  name="loan_lead[number]" 
                                  title="Please enter your number as XXX-XXX-XXXX"
                                  data-rule="phone"
                                  id="phone"
                                  required
                                >
                            </div>
                            <div class="form-group">
                                <input 
                                  type="text" 
                                  name="loan_lead[email]" 
                                  placeholder="Email (xx@xx.xx)" 
                                  class="form-email form-control" 
                                  id="email"
                                  data-rule="email"
                                  required
                                >
                            </div>
                            
                            <button type="button" class="btn btn-next">Next</button>
                          </div>
                        </fieldset>
                        <fieldset>
                          <div class="form-top">
                            <div class="form-top-left">
                              <h3>Next, a little about your business</h3>
                              <p>We want to make sure to only show you the best rates we can find.</p>
                            </div>
                          </div>
                          <div class="form-bottom">
                            <div class="form-group">
                              <input class="form-control" name="loan_lead[company_name]" placeholder="Company Name" required="true" type="text"></input>
                            </div>
                            <div class="form-group">
                              <select class="form-control" name="loan_lead[annual_sales]" required="true">
                                <option value="">
                                  Annual Sales
                                </option>
                                <option value="1">
                                  ~ $100,000
                                </option>
                                <option value="2">
                                  $100,000 ~ $250,000
                                </option>
                                <option value="3">
                                  $250,000 ~ $500,000
                                </option>
                                <option value="4">
                                  $500,000 ~ $1,000,000   
                                </option>
                                <option value="5">
                                  $1,000,000 ~
                                </option>
                              </select>
                            </div>
                            <div class="form-group">
                              <input class="form-control" name="loan_lead[years_in_business]" placeholder="Years in Business" required="true" type="number"></input>
                            </div>
                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="button" class="btn btn-next">Next</button>
                          </div>
                        </fieldset>
                        <fieldset>
                          <div class="form-top">
                            <div class="form-top-left">
                              <h3>Last, let us know when you are looking to aquire your loan</h3>
                              <p>Some lenders work quicker than others, so we want to make sure to send you rates that are available when you need it.</p>
                            </div>
                          </div>
                          <div class="form-bottom">
                            <div class="form-group">
                              <input type="date" class="form-control" id="pref_date" value="" name="loan_lead[loan_date]" required="true">
                            </div>
                            <%= recaptcha_tags %>
                            <button type="button" class="btn btn-previous">Previous</button>
                            <button type="submit" class="btn">Submit</button>
                          </div>
                        </fieldset>
                      </form>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>