.bg-color-results
  %nav.navbar.navbar-default.navbar-fixed-top
    .container
      .col-md-12
        .navbar-header
          %button.navbar-toggle{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"}
            -# =image_tag("ozer-logo.png", :style => "width: 140px; margin-top: -16px;", class: "img-responsive")
            .white Senior Home Finder
        #myNavbar.collapse.navbar-collapse.navbar-right
          %ul.nav.navbar-nav
            %li.active
              %a{:href => "/"} Home
            -# %li
            -#   %a{:href => "/about"} About
            %li
              %a{:href => "/contact"} Contact
            %li
              %a{:href => "tel:(516)725-5312"} (516) 725-5312
%section#thank-you.section-padding
  .container
    .row
      %h1 Your request is being processed
      %h3 Your request has been received and you should hear from one of our professionals shortly.

/ cta
/ about
%section#testimonial.section-padding
  .container
    .row
      .col-md-3.col-sm-4.col-xs-12
        .section-title
          %h2.head-title.lg-line
            Infomrative Articles
            %br/
          %hr.botm-line/
          %p.sec-para Do your research before deciding which loan is best for your business. These are some helpful articles that can help you make the right choice.
      .col-md-9.col-sm-8.col-xs-12
        .col-sm-9.more-features-box{:style => "visibility: visible;"}
          .more-features-box-text
            .more-features-box-text-icon
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
            .more-features-box-text-description
              %h3
                %a.art_link{:href => "https://smallbusiness.chron.com/calculate-business-loan-payments-236.html", :target => "_blank", :title=>"Lowest Business loan rate"}
                  How to Calculate Your Business Loan Payments
              %p A helpful guide on the best way to pay back your business loan.
          .more-features-box-text
            .more-features-box-text-icon
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
            .more-features-box-text-description
              %h3
                %a.art_link{:href => "https://www.moneysense.ca/save/tips-for-negotiating-a-lower-interest-rate-on-a-loan/", :target=>"_blank", :title=>"lowest business Loan Rate"}
                  Negotiate A Better Rate On Your Loan
              %p Tips for negotiating a lower interest rate on a loan.
          .more-features-box-text
            .more-features-box-text-icon
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
            .more-features-box-text-description
              %h3
                %a.art_link{:href => "https://www.entrepreneur.com/article/244873", :target => "_blank", :title=>"lowest business Loan Rate"}
                  Know Your Business Loan Options
              %p The 7 Different Loans You Can Get as a Business Owner
          .more-features-box-text
            .more-features-box-text-icon
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
            .more-features-box-text-description
              %h3
                %a.art_link{:href => "https://www.score.org/blog/25-small-business-loan-terms-you-need-know", :target => "_blank", :title=>"lowest business Loan Rate"}
                  Learn the Loan Lingo
              %p 25 Small Business Loan Terms You Need to Know
          .more-features-box-text
            .more-features-box-text-icon
              %i.fa.fa-angle-right{"aria-hidden" => "true"}
            .more-features-box-text-description
              %h3
                %a.art_link{:href => "https://www.thebalance.com/options-for-when-you-cannot-make-a-loan-payment-4083188", :target => "_blank", :title=>"lowest business Loan Rate"}
                  How to Get Back on Track
              %p What you can do when you can't make a loan payment

/ Event snippet for Senior Care Facility Leads conversion page
:javascript
  gtag('event', 'conversion', {'send_to': 'AW-760554848/U9MwCLDv75UBEODK1OoC'});
